/***************   
VARIABLES     
*****************/
//Media Query Breakpoints

$bp-medium: 40em;
$bp-large: 48em;
$bp-xlarge: 64.9375em;
$bp-maxwidth:71.25em;
$mat-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.4); //Google Material Design box-shadow

